# Shared environment settings loaded by initializers/load_config.rb. Usage:

# APP_CONFIG['mail'] returns a hash of mail's children
# APP_CONFIG['mail']['port'] returns the value of the specified key in mail

all: &all_settings

# Specific environment settings
development: &non_production_settings
  <<: *all_settings
    
production:
  <<: *all_settings
  mail:
    address: mail.seologic.com
    port: 25
    domain: seologic.com
    authentication: login
    username:
    password:

staging:
  <<: *all_settings

test: 
  <<: *all_settings
  <<: *non_production_settings
